.infinite-scroll {
    margin-top: 66px;

}

:root {
    --background-white: rgb(241, 241, 241);
    --topbar-black: black;

}

body {
    margin: 0;
    background: var(--background-white);
}

.navbar {
    background-color: #0377C0;
}

a.navbar-brand {
    color: white;
}

li.nav-item {
    color : white;
}