.infinite-scroll {
    margin-top: 66px;

}

:root {
    --background-white:white;

}

body {
    margin: auto;
    background: var(--background-white);
}

.navbar {
    background-color: #EC5096;
    font-family: 'Francois One', sans-serif;
    color: white;
}

.jumbotron {
    background-image: url(/img/jumbo.jpg);
    height: 600px;
    background-size: cover;
    text-align: center;
}

.display-4 {
    color: #267CBC;
    font-family: 'Francois One', sans-serif;
}

.infinite-scroll {
    margin-left: 20px;
    margin-right: 20px;
}

[draggable] {
    user-select: none;
}

h4 {
    margin-top: 15px;
    color: #1461A7;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}


form {
    margin: auto;
    width:70%;
    text-align:center;
}

li.option {
    list-style-type:none;
    margin-left: 0px;
    margin-right: 35px;
    margin-bottom: 2px;
    color: #DBDEE1;
    background-color:#267CBC;
    
}

p.result-location {
    color: EC5096;
    font-size: 40px;
}