.infinite-scroll {
    margin-top: 66px;

}

:root {
    --background-white:white;

}

body {
    margin: auto;
    background: var(--background-white);
}

.navbar {
    background-color: #EC5096;
    color: white;
}

.infinite-scroll {
    margin-left: 3px;
}

[draggable] {
    user-select: none;
}

h4 {
    margin-top: 15px;
    text-align: center;
    color: #242E64;
}

form {
    margin: auto;
    width:50%;
    text-align:center;
}

li.option {
    list-style-type:none;
    margin:2px;
    color: #DBDEE1;
    background-color:#257CBC;
    border:2px double #257CBC;
}

p.result-location {
    color: EC5096;
    font-size: 40px;
}